.product-card-btn {
    width: 80%;
    background-color: var(--minionyellow);
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    box-shadow: 4px 6px 4px;
}

.product-card-btn:hover {
    background-color: var(--minionhighlight);
    color: #000;
}