.featured-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    min-width: 180px;
    margin-left: 1%;
    margin-right: 1%;
}

.featured-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--minionyellow);
}

.featured-title {
    font-size: 1.2rem;
    text-align: center;
    color: var(--black);
    margin-bottom: -4px;
}

.featured-subtitle {
    text-align: center;
    color: var(--black);
}

.featured-card-btn {
    width: 80%;
    background-color: var(--searsblue);
    color: var(--white);
    border: none;
    border-radius: 0px;
    box-shadow: 4px 6px 4px #000;
}

.featured-card-btn:hover {
    background-color: var(--searshighlight);
    color: var(--white);
}

@media screen and (max-width: 1199px) {
    .featured-title {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 991px) {
    .featured-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .featured-title {
        font-size: 0.95rem;
    }

    .featured-subtitle {
        font-size: 0.9rem;
    }
}