.audiowide {
    font-family: 'Audiowide', cursive;
    color: var(--white);
    font-size: 5rem;
    margin-bottom: -30px;
    text-align: center;
    z-index: 1000;
}

.fasterone {
    font-family: 'Faster One', cursive;
    font-size: 3.3rem;
    text-align: center;
    z-index: 1000;
}

.custom-border-left {
    border-top: solid 15px var(--minionyellow);
    border-right: solid 10px var(--minionyellow);
}

.custom-border-right {
    border-top: solid 15px var(--minionyellow);
    border-left: solid 10px var(--minionyellow);
}

@media screen and (max-width: 1199px) {
    .audiowide {
        font-size: 4rem;
    }

    .fasterone{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 991px) {
    .audiowide {
        font-size: 3rem;
    }

    .fasterone{
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .audiowide {
        font-size: 3rem;
    }

    .fasterone{
        font-size: 2rem;
    }
}

@media screen and (max-width: 629px) {
    .audiowide {
        font-size: 2.75rem;
    }

    .fasterone{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 575px) {
    .audiowide {
        font-size: 2rem;
        margin-bottom: -15px;

    }

    .fasterone{
        font-size: 1.25rem;
    }
}